@import '@/style/main.less';
@import 'hover.css';

.frosted {
  backdrop-filter: blur(10px);

  &::before {
    background-color: var(--color-bg);
    content: "";
    height: 100%;
    left: 0;
    opacity: .7;
    position: absolute;
    top: 0.8;
    width: 100%;
    z-index: -1;
  }
}


.scroll-container {

  .scroll-row {
    display: flex;
    white-space: nowrap;

    &:nth-child(even) {
      animation: scroll 20s linear infinite;
      animation-duration: 25s;
    }

    &:nth-child(odd) {
      animation: scroll-reverse 20s linear infinite;
      animation-duration: 20s;
    }

    &:hover {
      animation-play-state: paused;
    }

  }



}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}