.picmo {
    background: var(--color-bg) !important;
    border-color: var(--color-border) !important;

    .picmo__categoryName {
        display: none !important;
    }

    .picmo__header,
    .picmo__preview {
        background: transparent;
        border-color: var(--color-border) !important;
    }

    .picmo__preview * {
        color: var(--color-text) !important;
    }
}

#comment-content {
    p {
        word-break: break-all;
    }
}